<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name %>
    <%= f.text_field :team_name %>
  </div>

  <div class="field">
    <%= f.label :team_school %>
    <%= f.text_field :team_school %>
  </div>

  <div class="field">
<%= f.select :team_category, options_for_select(["Line Race", "Sumo", "Open", "Football"]), {}, {:multiple => false, :class => "chzn-select", :style => "width:450px;" } %>
  </div>
  
  <div class="field">
    <%= f.label :team_group %>
    <%= f.number_field :team_group %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
