<%= bootstrap_form_for(team, layout: :inline) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :team_name, :required => true%>
  </div>

  <div class="field">
    <%= f.text_field :team_school, :required => true %>
  </div>

  <div class="field">
<%= f.select :team_category, options_for_select(["Line Race", "Sumo", "Open", "Football"]), {}, {:multiple => false,  :required => true } %>
  </div>
  
  <div class="field">
    <%= f.number_field :team_group, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
