<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">ARC Syira - Teams</div>

  <!-- Table -->
  
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Team Group</th>
      <th>Team name</th>
      <th>Team school</th>
      <th>Team category</th>
      <th>Team point</th>
      <th>Game Play</th>
      <th>Best time</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each_with_index do |team, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= team.team_group %></td>
        <td><%= team.team_name %></td>
        <td><%= team.team_school %></td>
        <td><%= team.team_category %></td>
        <td><%= team.team_point %></td>
        <td><%= team.games_play %>/3</td>
        <td><%= team.best_time %></td>
        <td><%= link_to 'Show', team, class:"btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_team_path(team), class:"btn btn-default"%></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-default"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
<%= link_to 'New Team', new_team_path, class:"btn btn-default" %>
