<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">Team category:  <%= @team.team_category %> </div>

  <div class="panel-body">

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team school:</strong>
  <%= @team.team_school %>
</p>

</div>

</div>
<h2>Add a game:</h2>
<%= bootstrap_form_for([@team, @team.games.build], layout: :inline) do |f| %>
  <p>
    <%= f.number_field :game_point, :required => true, help: "0=for lose, 1=for draw, 2=for win"%>
  </p>
  
   <p>
    <%= f.number_field :game_time, :step => 0.01, :required => true, help: "ex: 1.15 for 1 minute and 15 seconds or 0.20 =for 20 seconds"%>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %>
  </p>
<% end %>
 

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
