

<div class="panel panel-primary">
  <div class="panel-heading">Team category:  <%= @team.team_category %> </div>

  <div class="panel-body">

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team school:</strong>
  <%= @team.team_school %>
</p>

<% if current_user && current_user.admin? %>
         <%= link_to 'Edit', edit_team_path(@team), class:"btn btn-default"%>
        <%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-default"%>
            <% end %>

</div>

</div>
<% if current_user && current_user.admin? %>

<h2>Add a game:</h2>
<%= bootstrap_form_for([@team, @team.games.build], layout: :inline) do |f| %>
  <p>
    <%= f.number_field :game_point, :required => true, help: "0=for lose (sumo) or get out track (line race), 1=for draw (sumo) or make the map courect, 2=for win (sumo just)"%>
  </p>
  
   <p>
    <%= f.number_field :game_time, :step => 0.01, :required => true, help: "ex: 1.15 for 1 minute and 15 seconds or 0.20 =for 20 seconds - Do not add time to sumo games."%>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %>
  </p>
<% end %>
<% end %>
