<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team school:</strong>
  <%= @team.team_school %>
</p>

<p>
  <strong>Team category:</strong>
  <%= @team.team_category %>
</p>

<p>
  <strong>Team point:</strong>
  <%= @team.team_point %>
</p>



<h2>Add a game:</h2>
<%= form_for([@team, @team.games.build]) do |f| %>
  <p>
    <%= f.label :game_point %><br>
    <%= f.number_field :game_point %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
 

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
