<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team school:</strong>
  <%= @team.team_school %>
</p>

<p>
  <strong>Team category:</strong>
  <%= @team.team_category %>
</p>

<p>
  <strong>Team point:</strong>
  <%= @team.team_point %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
