<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.number_field :team_id %>
  </div>

  <div class="field">
    <%= f.label :round_id %>
    <%= f.number_field :round_id %>
  </div>

  <div class="field">
    <%= f.label :team_catagory %>
    <%= f.text_field :team_catagory %>
  </div>

  <div class="field">
    <%= f.label :game_point %>
    <%= f.number_field :game_point %>
  </div>

  <div class="field">
    <%= f.label :game_time %>
    <%= f.time_select :game_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
